.mypy_cache/

old/*
packs/*
!packs/example.yaml
graphmaker.py
index.html
jquery.js
output.gv
output.gv.pdf
output.png
output.ps
output.svg
output.txt
test.gv
finished.txt
results.html
output.txt
__pycache__/*
